@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

html {
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    color: rgba(10,67,138,255);
    text-decoration: none;
    font-size: 20px;
}

a:hover {
color: grey;
text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: slategrey;
}

h2 {
   text-align: left;
    font-size: 30px;
}
    
body {
    margin: 20px;
}
